html,
body {
  padding: 0;
  margin: 0;
  background-color: #fafafa !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.img-wrap {
  width: 100%;
}

.img-wrap>div {
  position: unset !important;
}

.img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

#cart-qty, #cart-price, #cart-value, #date-select, #numb {
  padding: 4px;
  /* font-size: 14px; */
  text-align: center;
}
